/* ---------------------------------------------
    Style Frontend - Part
    This Style  of Fron-tend Part
    1- navbar
    2-
    3-
    4-
    5- Login & Register
---------------------------------------------  */

/* ---------------------------------------------
    1- navbar
---------------------------------------------  */

/* Prevent Alpine.js flicker */
[x-cloak] {
    display: none !important;
}
/* ---------------------------------------------
    2-
---------------------------------------------  */

/* ---------------------------------------------
    3-
---------------------------------------------  */

/* ---------------------------------------------
    4-
---------------------------------------------  */

/* ---------------------------------------------
    5- Login & Register
---------------------------------------------  */

#login .head {
    opacity: 0.7;
}

#login .head p {
    font-weight: bold;
}

#login .login-image {
    height: 100%;
    border-radius: 15px;
    border: 2px solid var(--bg-color);
}

#login .divider {
    background-color: var(--bg-color) !important;
    border-radius: 5px;
}

#login .divider p {
    font-size: 12px;
}

#login .lead {
    font-size: 14px;
}

#login form label {
    font-size: 11px;
}

#login form input {
    font-size: 12px;
}

#login form input a {
    font-size: 11px;
}

#login form a {
    opacity: 0.7;
    font-weight: bold;
}

#login form input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--bg-color) !important;
}
