/* ---------------------------------------------
    This styel for the all application
    1-
    2-
    3-
    4-
    5-Tables
    6-custom-toast
---------------------------------------------  */

:root {
    --bg-color: #f7941d;
    --text-black: rgb(21, 21, 21);
    --text-color: rgb(240, 240, 240);
    --bg-pr: #007bff;
}

/* background color  : #f7941d;*/
.bg {
    background-color: var(--bg-color) !important;
    border: none !important;
}
.bg-pr {
    background-color: var(--bg-pr) !important;
}
/* -text-black */
.text-black {
    color: var(--text-black) !important;
    font-weight: bold;
}

/* Text color :  rgb(240, 240, 240);*/
.text {
    color: var(--text-color) !important;
}

/* Text color :  #f7941d;*/
.text-bg {
    color: var(--bg-color) !important;
}

a {
    text-decoration: none !important;
}

.card:hover {
    transform: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

/* ---------------------------------------------
    5- Tables
---------------------------------------------  */
table thead {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

table tbody {
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}

/* ---------------------------------------------
    6- custom-toast
---------------------------------------------  */
.custom-toast {
    background-color: #f7941d !important;
    color: white !important;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 999999 !important;
}
.custom-toast .toast-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.custom-toast .toast-message {
    font-size: 14px;
    line-height: 1.5;
}
.toast-info::before,
.toast-success::before,
.toast-warning::before,
.toast-error::before {
    display: none !important;
}
